%head 
 %title Assignment 2
 = csrf_meta_tags
 = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
 = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    
%body
 %nav.navbar.navbar-default
 .container
  .navbar-brand= link_to "RMIT News", root_path
  =image_tag "RMITLOGO.jpg", style: 'height:32px;width:32px;'
  %ul.nav.navbar-nav.navbar-right
   %li= link_to "Home", root_path
   %li= link_to "Comments"
   %li= link_to "Submit", new_post_path
   %li= link_to "Login"
  = yield